<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Lista de autos</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista de autos</h1>
        <div class="d-flex mt-3 mb-4">
            <a class="btn btn-primary" th:href="@{'/auto/new'}">Nuevo auto</a>
            <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>modelo</th>
                <th>color</th>
                <th>kilometraje</th>
                <th>costo_por_dia</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="auto, info : ${listaAutos}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${auto.modelo}"></td>
                <td th:text="${auto.color}"></td>
                <td th:text="${auto.kilometraje}"></td>
                <td th:text="${auto.costo_por_dia}"></td>
                <td><a class="btn btn-primary"
                       th:href="@{'/auto/edit?id=' + ${auto.id}}">Editar</a>
                </td>
                <td><a class="btn btn-danger"
                       th:href="@{'/auto/delete?id=' + ${auto.id}}">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>