<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta chart="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Lista de autos</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista de sedes</h1>
        <div class="d-flex mt-3 mb-4">
            <a class="btn btn-primary" th:href="@{'/sede/new'}">Nuevo sede</a>
            <a class="btn btn-condary ms-auto" th:href="@{'/'}">Regresar</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>distrito</th>
                <th>direccion</th>

                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sede, info : ${listaSedes}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${sede.distrito}"></td>
                <td th:text="${sede.direccion}"></td>

                <td><a class="btn btn-primary"
                       th:href="@{'/sede/edit?id=' + ${sede.id}}">Editar</a>
                </td>
                <td><a class="btn btn-danger"
                       th:href="@{'/sede/delete?id=' + ${sede.id}}">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>